@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    background-image: url(../images/fondo.png);
    background-size: contain;
}

#intro,
p {
    font-size: 200%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    font-family: 'Orbitron', sans-serif;
    color: #ea3b28;
    background-color: white;
    opacity: 0.8;
}

p {
    font-size: 100%;
}

.block {
    background-color: #c6453f;
}

.space {
    background-color: #e8e8e8;
}

.init {
    background-color: #e8e8e8;
    background-image: url(../images/start.png);
    background-size: contain;
}

.final {
    background-color: #e8e8e8;
    background-image: url(../images/final.png);
    background-size: contain;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 0;
}

.buttons {
    float: left;
    margin-left: 12%;
    margin-bottom: 4%;
    background-color: white;
    opacity: 0.8;
}

#tablero {
    float: left;
    margin-left: 4%;
}

button {
    border: none;
    background: #ea3b28;
    color: #f2f2f2;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 50%x;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 30px;
    margin: 1%;
}

button:hover {
    background: rgba(0, 0, 0, 0);
    color: #ea3b28;
    box-shadow: inset 0 0 0 3px #ed3b28;
    background-color: white;
    opacity: 0.7;
}

table {
    border-spacing: 0;
}